/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/* General Body Styles */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgba(12, 66, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.navbar {
  background: rgba(2, 3, 26, 0.78);
  box-shadow: 0 0 10px 0 rgba(2, 3, 26, 0.78);
  border-radius: 10px;
  border: 1px solid rgba(2, 3, 26, 0.78);
}

.navbar-brand {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: var(--bs-primary) !important;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.nav-link:hover {
  color: var(--bs-primary) !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--bs-primary);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after {
  width: 50%;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .navbar-nav {
    padding: 1rem;
  }
  .nav-link {
    padding: 0.5rem 1rem !important;
  }
}

/* Hero Section (Intro Section) */
.hero {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(12, 66, 255, 0.05);
  box-shadow: 0 0 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: auto;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
